body{
    background-color: black;
}
.h1{
    background-color: rgb(71, 71, 71);
    color: white;
    text-align: center;
}
.p1{
    color: white;
    text-shadow: 2px 2px 3px gray;
}
.p2{
    color: white;
    text-shadow: 2px 2px 3px gray
}
.icon{
    height: 5px;
    width: 5px;
    position: fixed;
    bottom: 200px;
    right: 250px;
    border-radius: 50px;
}
.container{
    position: relative;
    width: 100%;
}
.heading{
    color: white;
    position: absolute;
    top: 50px;
    right: 50px;
}
